body {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    background: #202020;
    color: #dfe4ea;
}
#container {
    z-index: 0;
    height: 300px;
    width: 600px;
    background: #1c606a;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: 50% 50%;
    padding: 2%;
    border-radius: 7%;
}
#icon {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: #8452f1;
    color: #0b5000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: "Lato", Arial, sans-serif;
}
#stat {
    height: 33%;
    width: 100%;
    border: #1b1e21 solid 2px;
    margin: 2px;
}
#quiz {

}
#codeATrou {

}
#dactylo {

}
#icone {
    border-radius: 50%;
    border: #1b1e21 solid 3px;
    padding: 5px;
    margin: 10px;
}
#picOfProfil {
    height: 50%;
    width: 50%;
}
.infoPerso {
    height: 50%;
    width: 50%;
}
.stats {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#iconChoose {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    background: #1c606a;
    padding: 5px;
    color: #59250e;
    border: solid white 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}